HTML
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
BODY
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
DIV
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
SPAN
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
A
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
IMG
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
B
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
I
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
FORM
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
LABEL
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
:focus
{
	outline-style: none;
	outline-color: invert;
	outline-width: 0px;
}
A IMG
{
	border-bottom: 0px;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
}
IMG
{
	vertical-align: middle;
}
A.flk13:link
{
	color: #005aa0;
}
.ftx23
{
	color: #999;
}
.ftx24
{
	color: #666;
}
BODY
{
	margin: 0px auto;
}
.w
{
	padding-bottom: 0px;
	margin: 0px auto;
	padding-left: 0px;
	width: 990px;
	padding-right: 0px;
	zoom: 1;
	padding-top: 0px;
}
.clr
{
	line-height: 0;
	display: block;
	height: 0px;
	clear: both;
	font-size: 0px;
	overflow: hidden;
}
.hide
{
	display: none;
}
.invisible
{
	visibility: hidden;
}
.form LABEL
{
	float: left;
	font-size: 12px;
}
.form INPUT
{
	float: left;
	font-size: 12px;
}
.form .item
{
	zoom: 1;
	overflow: hidden;
}
.btn-img
{
	border-bottom: 0px;
	text-align: center;
	border-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;
	border-top: 0px;
	cursor: pointer;
	border-right: 0px;
	padding-top: 0px;
}
.mc
{
	zoom: 1;
	overflow: hidden;
}
.mb
{
	zoom: 1;
	overflow: hidden;
}
BODY
{
	line-height: 150%;
	font-family: Arial, "ËÎÌå", Lucida, Verdana, Helvetica, sans-serif;
	color: #333;
	font-size: 12px;
}
A:link
{
	color: #333;
	text-decoration: none;
}
#logo
{
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
}
#footer-2013
{
	text-align: center;
	padding-bottom: 30px;
}
#footer-2013 .links A
{
	margin: 0px 10px;
}
#footer-2013 .copyright
{
	margin: 10px 0px;
}
HTML
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
BODY
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
DIV
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
SPAN
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
A
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
IMG
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
B
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
I
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
FORM
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
LABEL
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
:focus
{
	outline-style: none;
	outline-color: invert;
	outline-width: 0px;
}
A IMG
{
	border-bottom: 0px;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
}
IMG
{
	vertical-align: middle;
}
A.flk13:link
{
	color: #005aa0;
}
.ftx23
{
	color: #999;
}
.ftx24
{
	color: #666;
}
BODY
{
	margin: 0px auto;
}
.w
{
	padding-bottom: 0px;
	margin: 0px auto;
	padding-left: 0px;
	width: 990px;
	padding-right: 0px;
	zoom: 1;
	padding-top: 0px;
}
.clr
{
	line-height: 0;
	display: block;
	height: 0px;
	clear: both;
	font-size: 0px;
	overflow: hidden;
}
.hide
{
	display: none;
}
.invisible
{
	visibility: hidden;
}
.form LABEL
{
	float: left;
	font-size: 12px;
}
.form INPUT
{
	float: left;
	font-size: 12px;
}
.btn-img
{
	border-bottom: 0px;
	text-align: center;
	border-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;
	border-top: 0px;
	cursor: pointer;
	border-right: 0px;
	padding-top: 0px;
}
.mc
{
	zoom: 1;
	overflow: hidden;
}
.mb
{
	zoom: 1;
	overflow: hidden;
}
BODY
{
	line-height: 150%;
	font-family: Arial, "ËÎÌå", Lucida, Verdana, Helvetica, sans-serif;
	color: #333;
	font-size: 12px;
}
A:link
{
	color: #333;
	text-decoration: none;
}
#logo
{
	position: relative;
	padding-bottom: 10px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	float: none;
	padding-top: 10px;
}
#logo B
{
	position: absolute;
	width: 111px;
	background: url(i/login-word.png) no-repeat;
	height: 46px;
	top: 18px;
	left: 180px;
}
BODY
{
	background: #f2f2f2;
}
.w1
{
	margin: 0px auto;
	width: 890px;
}
#entry
{
	position: relative;
	padding-bottom: 5px;
	margin: 60px auto 55px;
	padding-left: 5px;
	padding-right: 5px;
	background: #e8e8e8;
	padding-top: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#entry .extra-en
{
	position: absolute;
	top: -20px;
	right: 20px;
}
.free-regist
{
	position: absolute;
	text-align: center;
	padding-bottom: 5px;
	line-height: 32px;
	padding-left: 5px;
	width: 115px;
	bottom: -31px;
	padding-right: 5px;
	background: #e8e8e8;
	height: 32px;
	right: 42px;
	padding-top: 0px;
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
}
.free-regist A:link
{
	color: #ffffff;
}
.free-regist SPAN
{
	text-align: center;
	width: 115px;
	display: block;
	background: #7cbe56;
	height: 32px;
	color: #fff;
	font-size: 14px;
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
}
#entry .mc
{
	border-bottom: #e1e1e1 1px solid;
	border-left: #e1e1e1 1px solid;
	background: #ffffff;
	height: 296px;
	border-top: #e1e1e1 1px solid;
	border-right: #e1e1e1 1px solid;
}
#entry .form
{
	position: absolute;
	width: 320px;
	height: 296px;
	overflow: hidden;
	top: 16px;
	right: 32px;
}
#entry .item
{
	z-index: 1;
	position: relative;
	line-height: 26px;
	width: 320px;
	height: 64px;
	overflow: visible;
}
#entry .login-btn2013
{
	height: 52px;
}
.form #sloginpwd
{
	float: none;
}
#entry .fore1
{
	z-index: 10;
}
#entry .fore2
{
	z-index: 8;
}
#entry .fore3
{
	z-index: 6;
	height: 63px;
}
#entry .fore4
{
	z-index: 3;
}
#entry .item SPAN
{
	line-height: 20px;
	margin-top: 1px;
	display: block;
	height: 20px;
	color: #999999;
}
#entry .item .item-ifo
{
	position: relative;
	width: 307px;
}
#entry .item-ifo .ico
{
	z-index: 5;
	position: absolute;
	right: 12px;
}
#entry .item-ifo .i-name
{
	width: 16px;
	background: url(i/one4.jpg) #fff no-repeat;
	height: 16px;
	top: 8px;
}
#entry .item-ifo .i-pass
{
	width: 14px;
	background: url(i/one5.jpg) #fff no-repeat;
	height: 19px;
	top: 8px;
}
#entry #autoentry
{
	margin-top: 8px;
	height: 37px;
}
#entry .text
{
	border-bottom: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	padding-bottom: 4px;
	line-height: 24px;
	padding-left: 3px;
	width: 282px;
	padding-right: 20px;
	font-family: arial, "ËÎÌå"; FLOAT: none;
	height: 24px;
	font-size: 14px;
	border-top: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	padding-top: 4px;
}
#entry .text_pge
{
	border-bottom: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	line-height: 32px;
	width: 305px;
	font-family: arial, "ËÎÌå"; FLOAT: none;
	height: 32px;
	font-size: 14px;
	overflow: hidden;
	border-top: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	_width: 305px;
}
#entry .text-1
{
	width: 100px;
	float: left;
}
#entry .blank
{
	z-index: 10;
	position: absolute;
	padding-bottom: 2px;
	padding-left: 2px;
	width: 16px;
	padding-right: 2px;
	display: none;
	float: none;
	height: 16px;
	top: 9px;
	right: 8px;
	padding-top: 2px;
}
#entry .mar
{
	margin-right: 10px;
}
#entry .img IMG
{
	margin: 0px 5px;
	height: 26px;
}
#entry .btn-entry
{
	line-height: 100px;
	text-indent: -9999px;
	width: 307px;
	font-family: "Î¢ÈíÑÅºÚ"; BACKGROUND: url(../img/login/login-img2013.png) no-repeat 0px 0px;
	height: 34px;
	overflow: hidden;
}
#entry .focus
{
	line-height: 22px;
	display: none;
	color: #999;
}
#entry .checkbox
{
	margin-top: 3px;
}
.mb
{
	margin-bottom: 24px;
	overflow: hidden;
}
.form .hline
{
	line-height: 16px;
}
.mb
{
	margin-bottom: 24px;
	overflow: hidden;
}
#entry .updata
{
	z-index: 10;
	position: absolute;
	padding-bottom: 5px;
	line-height: 108px;
	padding-left: 5px;
	width: 188px;
	padding-right: 5px;
	background: url(i/uopdata.png) no-repeat 0px 0px;
	height: 40px;
	overflow: hidden;
	top: 20px;
	padding-top: 5px;
	left: 30px;
}
#entry .tip-safe
{
	z-index: 21;
	border-bottom: #e3e3e3 1px solid;
	position: absolute;
	border-left: #e3e3e3 1px solid;
	padding-bottom: 5px;
	line-height: 20px;
	padding-left: 5px;
	width: 138px;
	padding-right: 5px;
	background: #ffffff;
	overflow: hidden;
	border-top: #e3e3e3 1px solid;
	top: 4px;
	border-right: #e3e3e3 1px solid;
	padding-top: 5px;
	left: 126px;
	-moz-box-shadow: 0 0 10px #DDD;
	-webkit-box-shadow: 0 0 10px #DDD;
	box-shadow: 0 0 10px #DDD;
	heihgt: 20px;
}
#entry .up-one
{
	position: absolute;
	width: 10px;
	height: 10px;
	top: 16px;
	right: 16px;
}
#entry .up-two
{
	position: absolute;
	width: 72px;
	height: 20px;
	top: 13px;
	left: 92px;
}
#mb-bg
{
	width: 853px;
	background: url(i/bm-bg.jpg) no-repeat;
	height: 59px;
}
#capslock
{
	z-index: 11;
	border-bottom: #edd288 1px solid;
	position: absolute;
	border-left: #edd288 1px solid;
	padding-bottom: 0px;
	line-height: 30px;
	background-color: #fffdee;
	padding-left: 10px;
	width: 285px;
	padding-right: 10px;
	display: none;
	height: 30px;
	color: #f60;
	border-top: #edd288 1px solid;
	top: 52px;
	border-right: #edd288 1px solid;
	padding-top: 0px;
	left: 0px;
}
#capslock I
{
	width: 20px;
	display: inline-block;
	background: url(i/tip-cue.png) no-repeat center center;
	height: 30px;
	vertical-align: middle;
	margin-right: 10px;
}
#capslock S
{
	position: absolute;
	width: 18px;
	bottom: -10px;
	background: url(i/tip-arrow.png) no-repeat center center;
	height: 12px;
	left: 38px;
}
#entry .coagent
{
	position: absolute;
	line-height: 26px;
	width: 350px;
	bottom: 26px;
	overflow: hidden;
	right: 0px;
}
#entry .coagent .ftx24
{
	color: #999;
}
#entry .coagent .btns
{
	position: relative;
	line-height: 14px;
	float: left;
	height: 14px;
	overflow: hidden;
	margin-right: 3px;
}
#entry .coagent A:link
{
	padding-right: 2px;
	color: #666666;
	border-right: #dbdbdb 1px solid;
	text-decoration: none;
}
#entry .coagent .more A:link
{
	border-right: 0px;
}

